@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  /* background-color: rgba(0, 0, 0); */
  background-image: url("images/carl-raw-unsplash-02.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(4px);
  margin: 0px;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12vw;
}

/* Gameboard */

.app {
  display: flex;
  padding: 30px;
  position: absolute;
  top: 28vh;
  left: 38.25vw;
  /* top: 275px;
  left: 740px; */
  border: 2px solid white;
  padding: 2.5px;
  border-radius: 5px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.45);
}

/* Scoreboard */

.score-board {
  font-family: "Press Start 2P", cursive;
  color: rgba(255, 255, 255);
  text-align: center;
  position: fixed;
  top: 30%;
}

.score-value {
  font-size: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.score-label {
  font-size: 20px;
}

.highScore-label {
  font-size: 20px;
}

.highScore-username {
  margin-right: 25px;
}

.highScore-value {
  margin-left: 25px;
}

.highScore-values {
  margin-bottom: 10px;
}

.saveScore-btn {
  font-family: "Press Start 2P", cursive;
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 10px;
}

.saveScore-btn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

/* GameCard */

.gameCardOne {
  height: 50vh;
  margin-right: 25px;
}

/* ArcadeMachine */

.arcade-machine {
  height: 100vh;
}
